    <form class="add-portfolio-item" method="post" enctype="multipart/form-data">
    <article>
      <input type="file" class="form-control" name="image" id="image" placeholder="Add Image"></input>
    </article>
    <article>
      <input type="text" class="form-control" name="photo-name" id="photo-name" placeholder="Add Photo Name"></input>
    </article>
    <button type="submit" class="btn btn-primary float-right">Add To Portfolio</button>
    </form>